* {
    font-family: Arial, Helvetica, sans-serif;
}

#menu {
    background-color: #807ee4;
    padding: 10px;
    margin-bottom: 5px;
}

a.item_menu {
    color: white;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

a.item_menu:hover {
    background-color: #75abda;
}
#footer {
    position: fixed; 
    bottom: 0;
    width: 100%;
    background-color: #807ee4; 
    color: white;
    text-align: left;
    padding: 10px 0;
    font-size: 14px;
    z-index: 1000;
}